.wrapper-oblibenepage {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
}

.wrapper-oblibene {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  border-left: 1.5px dotted rgb(215, 215, 215);
}

.wrapper-oblibnee-top {
  width: 100%;
  background-color: rgba(233, 62, 0, 0.781);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.wrapper-oblibene-grids {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.wrapper-oblibene-card {
  width: 100%;
  border: 1px solid orange;
  border-radius: 4px;
}

.oblibene-link-inzeratpage {
  transition: all 0.3s;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  padding: 10px;
}

.oblibene-link-inzeratpage:hover .oblibene-title {
  text-decoration: underline 1px orange;
  color: orangered;
}

.wrapper-oblibene-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-oblibene-img {
  max-width: 135px;
  width: 100%;
  min-height: 90px;
  max-height: 90px;
  flex-shrink: 0;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.oblibene-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-city-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.oblibene-title {
  transition: all 0.3s;
  font-size: 14px;
}

.oblibene-description {
  font-size: 13px;
}

.oblibene-price,
.oblibene-city {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 793px) {
  .wrapper-oblibenepage {
    padding: 10px;
  }

  .wrapper-oblibene {
    border: none;
    padding: 0;
  }
}

@media (max-width: 693px) {
  .wrapper-oblibenepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-oblibene-grids {
    padding: 0;
    border: none;
  }

  .oblibene-link-inzeratpage {
    gap: 20px;
  }
}

@media (max-width: 390px) {
  .oblibene-link-inzeratpage {
    padding: 6px;
  }

  .wrapper-oblibene-img {
    max-width: 90px;
    width: 100%;
    height: 80px;
  }

  .oblibene-title,
  .oblibene-description,
  .oblibene-price,
  .oblibene-city {
    font-size: 12px;
  }
}
